.item-wrapper {
  background-color: #4b4b4b;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
}

.item-wrapper li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.expense-title {
  color: white;
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px 15px;
}

.expense-amount {
  border: 1px solid #ececec;
  color: white;
  background-color: #40005d;
  font-size: 1.5rem;
  padding: 15px;
}