.list-wrapper {
  background-color: rgb(31, 31, 31);
  padding: 25px;
}

.expense-date  {
  width: 80px;
  height: 80px;
  color: white;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.no-expense-msg {
  margin-top: 25px;
  color: white;
  line-height: 30px;
  text-align: center;
}