.chart-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar {
  width: 20px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.chart-bar__inner {
  width: 100%;
  background-color: blueviolet;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
} 

.chart-bar-label {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}