.new-expense-wrapper {
  background-color: #a892ee;
  width: 100%;
  margin: 40px 0px 25px 0px;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense-wrapper form {
  display: flex;
  flex-direction: column;
}

.submit-new-expense {
  align-self: flex-end;
  cursor: pointer;
  border: 1px solid #40005d;
  background-color: #40005d;
  margin: 20px 20px 0px 0px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
}

.submit-new-expense:hover,
.submit-new-expense:active {
  background-color: #510674;
  border-color: #510674;
}